* {
    font-family: Papyrus;
    background-color: #E29282;
}

section.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.log-in, .creat-user {
    margin: 20px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.login-form, .register-form {
    display: none;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #82E292;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


h1 {

}