/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 22px;

}

h1, h2, h3, h4, h5, h6 {

}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

/* Specific cafe rules */
#cafeWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#cafeImageContainer {
    max-width: 40%;
    float: right;
    display: flex;
    margin-left: 5%;
    margin-top: 50px;
}

#cafeWrapper img {
    max-width: 100%;
}

#cafeInformationContainer {
    max-width: 40%;
    float: right;
    margin-left: 12%;
}
#cafeInformationContainer p{

}
#cafeInformationContainer h2  {
margin-bottom: 1rem;
margin-top: 55%;
}





.cafe-features{
    background: white;
    padding: 5%;
    height: 600px;

}

.cafe-features .cafe-features-child {
    float: left;
    margin-top: 3%
}

.icon {width:15%;
    display: block;
    float: left;
padding-top: 2%;
margin-right: 10%;
}

.true-or-false-wifi, .true-or-false-food{
    width:13%;
    padding: 20px 0 20px 0;
    float: left;
}
/* mobile */
@media only screen and (max-width: 600px) {
    #cafeWrapper {
        flex-direction: column;
    }

    #cafeImageContainer {
        max-width: 100%;
    }

    #cafeInformationContainer {
        max-width: 100%;
        width: 100%;
        margin: 0;
       padding: 1rem 0 5rem 4rem;

    }


    #cafeWrapper img {
        max-width: 100%;
        margin-bottom: 30px;
    }


    #cafeInformationContainer p{

    }
    #cafeInformationContainer h2  {
        margin-bottom: 1rem;
        margin-top: 0;
    }


    .main-section {
        width: 100%;
        padding: 10%;
        background-image: url('./img/cafe_section.jpeg');
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
    }


    .main-section #cafe-features{
        background: white;
        padding: 5%;
    }
}




#cafeImages {
    display: flex;
    flex-wrap: wrap;
}

.cafe-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 2% ;
    padding: 10px;
    width: 30%;



}

.cafe-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cafe-details h3 {
    margin-bottom: 5px;
}

.cafe-details p {
    margin-bottom: 8px;
}


