/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 22px;


}


p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.nav-container {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background-color: #130E2B;

}

.nav-left {
    display: flex;
    align-items: center;
}



.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;

}

.nav-right {
    display: flex;
    align-items: center;
}

.profile {
    width: 100px;
    padding-left: 20px;


}



/* Specific cafe rules */
#cafeWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 200px;
    max-height: 800px;

}

#cafeWrapper p {padding-bottom: 20px}

#cafeImageContainer {
    max-width: 40%;
    float: right;
    display: flex;
    margin-left: 5%;

}



#cafeWrapper img {
    max-width: 100%;
    max-height: 100%;

}

#cafeInformationContainer {
    max-width: 30%;
    float: left;
    margin-left: 2%;
    top: 0;
}
#cafeInformationContainer p{

}
#cafeInformationContainer h2  {
margin-bottom: 1rem;

}




.cafe-features{
    background: white;
    padding: 5%;
    height: 600px;

}

.cafe-features .cafe-features-child {
    float: right;
    margin-top: 3%
}

.icon {width:15%;
    display: block;
    float: right;
padding-top: 2%;
margin-right: 10%;
}

.true-or-false-wifi, .true-or-false-food{
    width:13%;
    margin-right: 20px;
    margin-top: 10px;
    float: right;

}




#cafeImages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 125px;
}



.row {
    display: flex;
}


.cafe-container {
    width: 100%;
    padding: 10px;
}

.cafe-image {
    width: 100%;
    height: auto;
}

.cafe-details {
    text-align: center;
    margin-top: 10px;
}

.cafe-details h3 {
    margin-bottom: 5px;
}

.cafe-details p {
    margin-bottom: 8px;
    padding: 5px 9% 0 9%;

}






#showMore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.cafe-container-show-more {
    margin-bottom: 3px;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}

 .cafe-container-show-more img {
    width: 90%;
    height: auto;
    margin-top: 20px;
     border-radius: 10px;
}

.cafe-link {width: 33%}

.cafe-container-show-more h3 {
    margin-bottom: 5px;
    font-size: 2px;
}

.cafe-container-show-more {
    margin-bottom: 8px;
}


#showMoreLink {margin-left: 40%;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px}

hr.solid {
    border-top: 4px solid white;
   width: 85%;
    margin-left: 7.5%;
    margin-top: 20px;
    margin-bottom: 20px;

}

section.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.log-in, .creat-user {
    margin: 20px;
}

input[type="checkbox"] {
    display: none;
}

.nav-container.label:hover {color: #82E292}

.nav-container.label:active {color: red}


.nav-container.label {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.login-form, .register-form {
    display: none;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

#display-img {
    display: inline;
    width: 50%;
    margin-right: 30px;
    margin-top: 25px;
}

.login-button, .register-button {
    width: 100%;
    padding: 10px;
    background-color: #82E292;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

#explainer-text{text-align: center; color: #ffffff;}

.blue-background{background-color: #130E2B}

.filler {padding-bottom: 100px}

.submitBtn {width: 57%}

#usernameInput {width: 33%;
}


#stjerne{width: 33%; float: right; margin-right: 30px}

.main-section {
    width: 33%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}


.main-section #cafe-features{
    background: white;
    padding: 5%;
}











/* mobile */
@media only screen and (max-width: 600px) {
    #cafeWrapper {
        flex-direction: column;
    }

    #cafeImageContainer {
        max-width: 100%;
    }

    #cafeInformationContainer {
        min-width: 1000px;
        margin: 0;
       padding: 1rem 0 5rem 4rem;

    }


    #cafeWrapper img {
        max-width: 100%;
        margin-bottom: 30px;
    }


    #cafeInformationContainer p{

    }
    #cafeInformationContainer h2  {
        margin-bottom: 1rem;
        margin-top: 0;
    }


    .main-section {
        width: 100%;
        padding: 10%;
        background-image: url('./img/cafe_section.jpeg');
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
    }


    .main-section #cafe-features{
        background: white;
        padding: 5%;
    }
}

/* Style til user profile */

.userInfoAndCreateCafe {
    width: 100%;
    height: 100vh;
    background-image: url("https://t3.ftcdn.net/jpg/05/79/48/54/360_F_579485400_8jSrBgNQP1BWUOjWujmRS79YJmzQv6fw.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
    background: white;
    text-align: center;
    padding: 30px 80px;
    color: #130E2B;
    position: relative;
    border-radius: 20px;
    width: 400px;
}

.profile-pic {
    border-radius: 50%;
    background: #130E2B;
    padding: 10px;
    margin-top: 10px;
}

button.getUserInfo{
    width: 80%;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 15px;

}

#usernameInput {
    width: 125px;
}

.profile-box h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.user-info {
    margin-top: 20px;
}

.user-info p {

}

