/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 0.8;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

/* Specific cafe rules */
#cafeWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#cafeImageContainer {
    max-width: 50%;
    float: right;
    display: flex;
}

#cafeWrapper img {
    max-width: 100%;
}

#cafeInformationContainer {
    max-width: 49%;
    float: right;
    margin-left: 12%;
}
#cafeInformationContainer p{

}
#cafeInformationContainer h2  {
margin-bottom: 1rem;
margin-top: 85%;
}


.main-section {
    height: 700px;
    background-image: url("https://picsum.photos/2000");
    opacity: 50%;
    padding: 10%;
}

/* mobile */
@media only screen and (max-width: 600px) {
    #cafeWrapper {
        flex-direction: column;
    }

    #cafeImageContainer {
        max-width: 100%;
        float: none;
    }

    #cafeInformationContainer {
        max-width: 100%;
        float: none;
    }
}
