/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 22px;

}

h1, h2, h3, h4, h5, h6 {

}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.nav-container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background: white;

}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 35px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
}

.nav-right {
    display: flex;
    align-items: center;
}

.profile {
    width: 100px;
margin-left: 5%;
}


/* Specific cafe rules */
#cafeWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 200px;

}

#cafeImageContainer {
    max-width: 40%;
    float: right;
    display: flex;
    margin-left: 5%;

}



#cafeWrapper img {
    max-width: 100%;
}

#cafeInformationContainer {
    max-width: 40%;
    float: right;
    margin-left: 12%;
}
#cafeInformationContainer p{

}
#cafeInformationContainer h2  {
margin-bottom: 1rem;
margin-top: 55%;
}




.cafe-features{
    background: white;
    padding: 5%;
    height: 600px;

}

.cafe-features .cafe-features-child {
    float: left;
    margin-top: 3%
}

.icon {width:15%;
    display: block;
    float: left;
padding-top: 2%;
margin-right: 10%;
}

.true-or-false-wifi, .true-or-false-food{
    width:13%;
    padding: 20px 0 20px 0;
    float: left;
}




#cafeImages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 125px;
}



.row {
    display: flex;
}


.cafe-container {
    width: 100%;
    padding: 10px;
}

.cafe-image {
    width: 100%;
    height: auto;
}

.cafe-details {
    text-align: center;
    margin-top: 10px;
}

.cafe-details h3 {
    margin-bottom: 5px;
}

.cafe-details p {
    margin-bottom: 8px;
}






#showMore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Arrange items in a grid */
}


.cafe-container-show-more {
    margin-bottom: 3px;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
}

 .cafe-container-show-more img {
    width: 100%;
    height: auto;
}

.cafe-link {width: 33%}

.cafe-container-show-more h3 {
    margin-bottom: 5px;
    font-size: 2px;
}

.cafe-container-show-more {
    margin-bottom: 8px;
}


#showMoreLink {margin-left: 40%;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px}

hr.solid {
    border-top: 4px solid navajowhite;
    margin-right: 520px;

}

section.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log-in, .creat-user {
    margin: 20px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.login-form, .register-form {
    display: none;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.login-button, .register-button {
    width: 100%;
    padding: 10px;
    background-color: #82E292;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}



/* mobile */
@media only screen and (max-width: 600px) {
    #cafeWrapper {
        flex-direction: column;
    }

    #cafeImageContainer {
        max-width: 100%;
    }

    #cafeInformationContainer {
        max-width: 100%;
        width: 100%;
        margin: 0;
       padding: 1rem 0 5rem 4rem;

    }


    #cafeWrapper img {
        max-width: 100%;
        margin-bottom: 30px;
    }


    #cafeInformationContainer p{

    }
    #cafeInformationContainer h2  {
        margin-bottom: 1rem;
        margin-top: 0;
    }


    .main-section {
        width: 100%;
        padding: 10%;
        background-image: url('./img/cafe_section.jpeg');
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
    }


    .main-section #cafe-features{
        background: white;
        padding: 5%;
    }
}




